# Update this with your real domain
:80 {
    # Frontend (Root)
    handle / {
        reverse_proxy frontend:80
    }
    
    # Static assets handled by frontend too
    handle /* {
        reverse_proxy frontend:80
    }

    # API Backend
    handle /api/* {
        reverse_proxy backend:10000
    }
}
