aiofiles
annotated-types
anyio
bcrypt
black
boto3
botocore
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
dnspython
dotenv
ecdsa
email-validator
exceptiongroup
fastapi
flake8
h11
httpcore
httptools
httpx
idna
iniconfig
isort
jmespath
joblib
librt
limits
markdown-it-py
MarkupSafe
mccabe
mdurl
motor
mypy
mypy-extensions
nltk
numpy
oauthlib
packaging
pandas
passlib
pathspec
platformdirs
pluggy
pyasn1
pycodestyle
pycparser
pydantic
pydantic-core
pyflakes
Pygments
PyJWT
pyjks
pymongo
pyparsing
pytest
python-dateutil
python-dotenv
python-http-client==3.3.7
python-jose==3.5.0
python-multipart==0.0.21
pytokens==0.3.0
pytz==2025.2
requests==2.32.5
requests-oauthlib==2.0.0
resend==2.19.0
rich==14.2.0
rsa==4.9.1
s3transfer==0.16.0
s5cmd==0.2.0
sendgrid==6.12.5
shellingham==1.5.4
six==1.17.0
slowapi==0.1.9
starlette==0.37.2
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
uvicorn==0.25.0
watchfiles==1.1.1
Werkzeug==3.1.5
wrapt==2.0.1
cloudinary==1.38.0

